.calendar-wrapper {
  display: flex;
  flex-direction: row;
}

.calendar-wrapper .calendar-event-wrapper {
  width: 620px;
  overflow: hidden;
  padding: 0 10px;
  border-left: 1px solid #D6D6D6;
  background-color: #ECECEC;
  box-sizing: border-box;
  position: relative;
}

.calendar-wrapper .calendar-event {
  position: relative;
  height: 100%;
  width: 100%;
}

.calendar-wrapper .calendar-event-wrapper .calendar-event .calendar-event-item {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
}

.calendar-wrapper .calendar-event-wrapper .calendar-event .calendar-event-item .calendar-event-item-inner {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #D6D6D6;
  border-left: 4px solid #4B6EA8;
  height: 100%;
  float: left;
}

.calendar-wrapper .calendar-event-wrapper .calendar-event .calendar-event-item .calendar-event-item-inner h3 {
  color: #4B6EA8;
  margin: 0 0 5px 0;
  font-size: .9em;
}

.calendar-wrapper .calendar-event-wrapper .calendar-event .calendar-event-item .calendar-event-item-inner p {
  color: #686868;
  font-size: .7em;
  margin: 0;
}