.Timeline {
  margin-right: 15px;
}

.Timeline ul {
  margin: 0;
}

.Timeline ul li {
  position: relative;
  top: -9px;
  height: 30px;
  font-size: .9em;
  color: #686868;
  list-style-type: none;
  text-align: right;
}

.Timeline ul li span {
  opacity: .6;
  font-size: .7em;
}

.Timeline ul li.half {
  color: #B4B4B4;
  font-size: .7em;
}